

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image: url("../src/Images/Image/Rectangle\ 1.png"),linear-gradient( rgba(65, 64, 64, 0.5), rgba(22, 22, 22, 0.5) );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
